[Desktop Entry]
Version=1.0
Name=GNU Emacs Dired
GenericName=Emacs File Browser
Comment=View and edit files
MimeType=inode/directory;application/x-directory;
Exec=emacs
Icon=emacs
Type=Application
Terminal=false
Categories=GTK;System;Filesystem;
StartupWMClass=Emacs
