[Unit]
Description=System event daemon
# BindsTo=pulseaudio.service
After=pulseaudio.service

[Service]
WorkingDirectory=/home/%u/.virtualenvs/syseventd
ExecStart=/home/%u/.virtualenvs/syseventd/bin/syseventd
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
