[Unit]
Description=System event daemon
After=pulseaudio.service

[Service]
WorkingDirectory=%h/.virtualenvs/syseventd
ExecStart=%h/.virtualenvs/syseventd/bin/syseventd
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
