[Unit]
Description=System event daemon
ConditionEnvironment=DISPLAY
After=pulseaudio.service

[Service]
ExecStart=%h/dev/pyenv/shims/syseventd
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
