*saveLines: 8192


Xcursor.theme: Adwaita
Xcursor.size: 32

Xft*antialias: 1
Xft*hinting: 1

XTerm*faceName: Inconsolata
XTerm*renderFont: true
XTerm*faceSize: 16

! let’s be 8bit-clean
XTerm*utf8            : 1
XTerm*eightBitInput   : false
XTerm*eightBitControl : false
XTerm*eightBitOutput  : true

! copy to CLIPBOARD
XTerm*selectToClipboard: true

URxvt*font:     xft:DejaVu Sans Mono:size=14:antialias=true
URxvt*boldFont: xft:DejaVu Sans Mono:bold:size=14:antialias=true

URxvt.scrollBar: false
URxvt.scrollstyle: plainp
URxvt.rightScrollBar: false
! URxvt.scrollTtyOutput: false
! URxvt.scrollWithBuffer: true
! URxvt.scrollTtyKeypress: true

! notify the WM when the bell rings
URxvt*urgentOnBell    : true

! URxvt.visualBell: false
URxvt.perl-ext-common: default,clipboard,font-size
! URxvt*dynamicColors: on
URxvt.url-launcher: xdg-open
URxvt.matcher.button: 3
URxvt.iso14755_52: false
URxvt.iso14755: false
URxvt.clipboard.autocopy: true
URxvt.keysym.C-M-c: perl:clipboard:copy
URxvt.keysym.C-M-v: perl:clipboard:paste
URxvt.keysym.C-plus: perl:font-size:increase
URxvt.keysym.C-equal: perl:font-size:reset
URxvt.keysym.C-minus: perl:font-size:decrease




URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger: C-plus
URxvt.resize-font.reset: C-equal
URxvt.resize-font.show: C-question


!font settings                          -*-terminus-*-*-*-*-32-*-*-*-*-*-*-*
xscreensaver.Dialog.headingFont:        -*-terminus-*-*-*-32-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-terminus-bold-*-*-*-32-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-terminus-*-*-*-32-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-terminus-*-*-*-32-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-terminus-bold-*-*-*-32-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-terminus-bold-*-*-*-16-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-terminus-bold-*-*-*-32-*-*-*-*-*-*-*

! leave blank to diable "new login" button
xscreensaver.newLoginCommand:

xmessage*form.okay.background: #1c1b1a
xmessage*form.okay.foreground: #d9cec3
xmessage*message*background: #1c1b1a
xmessage*background: #1c1b1a
xmessage*foreground: #d9cec3
xmessage*Text.?.cursorColor: #aeee00
xmessage*Text.borderColor: #d9cec3
xmessage*Text*background: #1c1b1a
xmessage*message.scrollVertical: Always
xmessage*message.scrollHorizontal: Never


rofi.color-enabled: true

rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844

XTerm*cursorColor: #aeee00
XTerm*scrollColor: #45413b

URxvt.cursorColor: #aeee00
URxvt.scrollColor: #45413b


! Zenburn color-scheme
URxvt.background              :#1f1f1f
URxvt.foreground              :#dcdccc

! black + red
!URxvt.color0                 :#3f3f3f
URxvt.color0                  :#1f1f1f
URxvt.color1                  :#705050

! green + yellow
URxvt.color2                  :#60b48a
URxvt.color3                  :#dfaf8f

! blue + purple
URxvt.color4                  :#506070
URxvt.color5                  :#dc8cc3

! cyan + white
URxvt.color6                  :#8cd0d3
URxvt.color7                  :#dcdccc

! bright-black + bright-red
URxvt.color8                  :#709080
URxvt.color9                  :#dca3a3

! bright-green + bright-yellow
URxvt.color10                 :#c3bf9f
URxvt.color11                 :#f0dfaf

! bright-blue + bright-purple
URxvt.color12                 :#94bff3
URxvt.color13                 :#ec93d3

! bright-cyan + bright-white
URxvt.color14                 :#93e0e3
URxvt.color15 				  :#ffffff


XTerm*background              :#1f1f1f
XTerm*foreground              :#dcdccc

! black + red
!XTerm*color0                 :#3f3f3f
XTerm*color0                  :#1f1f1f
XTerm*color1                  :#705050

! green + yellow
XTerm*color2                  :#60b48a
XTerm*color3                  :#dfaf8f

! blue + purple
XTerm*color4                  :#506070
XTerm*color5                  :#dc8cc3

! cyan + white
XTerm*color6                  :#8cd0d3
XTerm*color7                  :#dcdccc

! bright-black + bright-red
XTerm*color8                  :#709080
XTerm*color9                  :#dca3a3

! bright-green + bright-yellow
XTerm*color10                 :#c3bf9f
XTerm*color11                 :#f0dfaf

! bright-blue + bright-purple
XTerm*color12                 :#94bff3
XTerm*color13                 :#ec93d3

! bright-cyan + bright-white
XTerm*color14                 :#93e0e3
XTerm*color15 				  :#ffffff
