# # set $base00 #fdf6e3
# # set $base01 #eee8d5
# # set $base02 #93a1a1
# # set $base03 #839496
# # set $base04 #657b83
# # set $base05 #586e75
# # set $base06 #073642
# # set $base07 #002b36
# # set $base08 #dc322f
# # set $base09 #cb4b16
# # set $base0A #b58900
# # set $base0B #859900
# # set $base0C #2aa198
# # set $base0D #268bd2
# # set $base0E #6c71c4
# # set $base0F #d33682

# set $base00 #002b36
# set $base01 #073642
# set $base02 #586e75
# set $base03 #657b83
# set $base04 #839496
# set $base05 #93a1a1
# set $base06 #eee8d5
# set $base07 #fdf6e3
# set $base08 #dc322f
# set $base09 #cb4b16
# set $base0A #b58900
# set $base0B #859900
# set $base0C #2aa198
# set $base0D #268bd2
# set $base0E #6c71c4
# set $base0F #d33682

# set $urgent_bg #dc322f
# set $urgent_border #cb4b16
# set $focused_bg SR_FOCUSED_BACKGROUND
# set $focused_border SR_FOCUSED_BORDER
# set $unfocused_bg SR_INACTIVE_BACKGROUND
# set $unfocused_border SR_BORDER_INACTIVE
# set $binding_bg #6c71c4

# # start i3bar to display a workspace bar (plus the system information i3status
# # finds out, if available)

# # Basic color configuration using the Base16 variables for windows and borders.
# # Property Name         Border            BG             Text              Indicator      Child Border
# client.focused          $focused_border   $focused_bg    SR_TEXT_ACTIVE    SR_SEPARATOR   SR_SEPARATOR
# client.focused_inactive $focused_bg       $focused_bg    SR_TEXT_ACTIVE    SR_SEPARATOR   SR_SEPARATOR
# client.unfocused        $unfocused_bg     $unfocused_bg  SR_TEXT_INACTIVE  SR_SEPARATOR   SR_SEPARATOR
# client.urgent           $urgent_border    $urgent_bg     SR_TEXT_ACTIVE    $urgent_bg     $urgent_border
# # client.placeholder      $base00 $base00 $base05 $base00 $base00
# client.background       SR_BACKGROUND


bar {
    position top
    status_command py3status

    colors {
        statusline #202332
        separator  #3465a4
        background #f0f0f0
#                           border   bg       fg
        focused_workspace   #3465a4  #3465a4  #f0f0f0
        active_workspace    #3465a4  #3465a4  #383c4a
        inactive_workspace  #bababa  #bababa  #383c4a
        urgent_workspace    #eb709b  #eb709b  #f0f0f0
    }
}

#--------------------------------------------------------------------------
# Window borders and colors
#--------------------------------------------------------------------------
#                        border     bg         fg         indicator  child_border
client.focused           #3465a4    #3465a4    #e0e0e0    #d9d9d9    #CC0000
client.focused_inactive  #383c4a    #383c4a    #e0e0e0    #383c4a    #383c4a
client.unfocused         #e0e0e0    #e0e0e0    #808080    #202332    #202332
client.urgent            #900000    #900000    #ffffff    #900000    #CC0000
client.placeholder       #0c0c0c    #0c0c0c    #ffffff    #000000    #202332
client.background        #e0e0e0
